@switch (variant()) {
  @case ('1') {
    <app-primary-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-primary-button>
  }
  @case ('2') {
    <app-primary-outline-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-primary-outline-button>
  }
  @case ('3') {
    <app-neutral-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-neutral-button>
  }
  @case ('4') {
    <app-ghost-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-ghost-button>
  }
  @case ('5') {
    <app-text-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-text-button>
  }
  @case ('6') {
    <app-primary-text-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-primary-text-button>
  }
  @default {
    <app-primary-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-primary-button>
  }
}