@switch (variant()) {
  @case ('1') {
    <app-primary-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-primary-button>
  }
  @case ('2') {
    <app-primary-outline-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-primary-outline-button>
  }
  @case ('3') {
    <app-neutral-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-neutral-button>
  }
  @default {
    <app-primary-button
      [label]="label()"
      (buttonClick)="buttonClick.emit($event)"></app-primary-button>
  }
}